<!-- Three -->


<section id="three" class="wrapper style11">

<h2 class="jump">{Projects}</h2>

<!-- Modal Image -->

		<div class="container-project">

				<div class="gallery">
					<div class="row">

						<div class="col-sm-4 module">
							<div class="portfolio-hover">
							<a>
							<img class="button button-portfolio" src="assets/images/pic3_codelabs.jpg" data-modal="modalThree" tabindex="-1" role="dialog" aria-hidden="true" style="box-shadow:none;width: 265px; height: 256px;">
							<br><span class="project-caption" style="line-height:50px;""> <h2 class ="highlight" data-text="Codelaborate"> &nbsp;&nbsp;Codelaborate&nbsp; </h2> <br></span>
							</a>
							</div>
							<span class="project-caption" style="font-style:italic;font-size:small;position:relative;bottom:50px;line-height:16px;"> Real-time code collaboration platform</span>
						</div>

						<div class="col-sm-4 module">
							<div class="portfolio-hover">
							<a>
								<div class="button-transparent" style="display:inline-block;">
							<img class="button button-portfolio" src="assets/images/pic04_medium.png" data-modal="modalFour" tabindex="-1" role="dialog" aria-hidden="true" style="box-shadow:none;width: 265px; height: 256px;">
							</div>
							<div class="img-text">In Progress</div>
							<br><span class="project-caption" style="line-height:50px;""> <h2 class ="highlight" data-text="Snapple"> &nbsp;&nbsp;Snapple&nbsp; </h2> <br></span>
							</a>
							</div>
							<span class="project-caption" style="font-style:italic;font-size:small;position:relative;bottom:50px;line-height:16px;"> Save on your parking </span>
						</div>

						<div class="col-sm-4 module">
							<div class="portfolio-hover">
							<a>
								<div class="button-transparent" style="display:inline-block;">
							<img class="button button-portfolio" src="assets/images/Telegram-1.png" data-modal="modalFive" tabindex="-1" role="dialog" aria-hidden="true" style="box-shadow:none;width: 265px; height: 256px;">
							</div>
							<div class="img-text">In Progress</div>
							<br><span class="project-caption" style="line-height:50px;""> <h2 class ="highlight" data-text="Snapple"> &nbsp;&nbsp;East Coast Bot&nbsp; </h2> <br></span>
							</a>
							</div>
							<span class="project-caption" style="font-style:italic;font-size:small;position:relative;bottom:50px;line-height:16px;"> Coordinate Beach Cleanup Events </span>
						</div>

		</div>
		</div>
		</div>



<!-- Modal Content -->
		<div id="modalOne" class="modal"> <!-- Consider adding project intro for Freshlytics from proposal -->
			<div class="modal-dialog" style="width:100%;height:50%;bottom:150px">
		  <div class="modal-content">
				<span class="close">&times;</span>
				<div class="container-project">
					<header>
					<h4>Heading with a Subtitle</h4>
					<p>Freshlytics</p>
				</header>
				<div class="project-content">
				<p></p>

		    </div>
		  </div>
			</div>
		</div>
		</div>

		<div id="modalTwo" class="modal">
					<div class="modal-dialog" style="width:100%;height:50%;bottom:150px">

					<div class="modal-content"">
						<span class="close">&times;</span>
						<div class="container-project" style="color:black;">
							<h2 style="color:black;">Leased</h2>

						<div class="project-content">
						<p> <b style="color:black;">Leased</b> is a webapp that enables C2C transactions for all sorts of goods. Though focused on thrifting, users can choose to list and sell products of their choice.
							Users can take on the role of both a buyer and a seller.
							The webapp provides similar functionality to that of an online shop. Users get recommended products, perform product searches, check out their shopping carts and view their order management boards after purchase.
							<br><br>
							My aims for this project were pretty straightforward; it started off as a small project of mine to familarize with setting up a MERN app from scratch.
							I also wanted to focus on architecting the application, keeping in mind Design Patterns when implementing the code and keeping it clean.
							I further learnt to write Unit Tests with Jasmine, Mocha, Jest.
						  </p>
						<p> <b style="color:black"> Technologies used:</b> MongoDB, Express, React, Node (MERN) with Stripe payments processing functionality.
							<br>
						</p>
						</div>
					</div>
					</div>
				</div>
				</div>

	<div id="modalThree" class="modal">
		<div class="modal-dialog" style="width:100%;height:50%;bottom:150px">

		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="container-project">
				<h2 style="color:black;">Codelaborate</h2>
				<p style="color:black;"><i> </i></p>
			<div class="project-content">
			<p> <b style="color:black;">Codelaborate</b> a social platform with online judge for college students to pair program together in real-time. <br><br> This means that multiple users can edit the same piece of code, and changes are seen on-screen in real-time. This could be in the case of a practice programming assessment.
				Additional features include: voice & chat funtionalities (integrating WebRTC), note-taking during the session, and most importantly, a backend online judger (OJ) system for technical algorithm questions.  It is supported with popular languages like Java, C++, Python.
				<br /> <br /> Launched in beta in 2019, (originally Codelabs), Codelaborate scaled up to peak of 300+ MAU and 50 interviews conducted in a day.</p>
			<p> <b style="color:black"> Technologies used:</b> Built with React, Node.js, MongoDB, Socket.io, Redis, RabbitMQ. Implemented a backend executor service with Python, Flask and Docker. Load balancing with Nginx, CI/CD pipeline with Jenkins and runs on AWS. </p>
		</div>
</div>
</div>
</div>
</div>


<div id="modalFour" class="modal">
	<div class="modal-dialog" style="width:100%;height:50%;bottom:150px">

	<div class="modal-content">
		<span class="close">&times;</span>
		<div class="container-project">
			<h2 style="color:black;">Snapple</h2>
			<p style="color:black;"><i> </i></p>
		<div class="project-content">
		<p> <b style="color:black;">Snapple</b> is an a mobile application that helps you plan your transport journey and save on parking. <br>
		</p>
		<p>
			1. Built node.js servers with RESTful APIs and fully migrated to Go with datastores, message queues & streams, caching, asynchronous processing  <br>
			2. Logging, monitoring and analytics capabilities with ELK, <br>
		 	Moving forward as we develop our microservices, we will be working on the following: <br>
			- Data processing with Hadoop & MapReduce, <br>
			- Building & improving observability pipelines, <br>
			- Serverless with AWS Lambda
			</p>
			<p> View some screenshots from our beta version below! </p>

			<p style="text-align: center;font-style: italic;"> Fig. 1: Sign up & Registration, or authentication via common social media platforms </p>
			<img src="/assets/images/Snapple-1.png" style=" display:block;margin:auto;width: 75%;">

			<p style="text-align: center;font-style: italic;"> Fig. 2: Quick Search and turn-by-turn integrated with Google Maps on iOS and Android</p>
			<img src="/assets/images/Snapple-2.png" style="width: 100%;">

			<p style="text-align: center;font-style: italic;"> Fig. 3: Carparks sorted based on factors like
				<br/ > - price
				<br/ > - duration of parking
				<br /> - maximum distance set by user
				<br /> - traffic conditions (time) to get to the destination
				<br/ >- (live) vacancies
				<br/ >- ratings
				<br/ >Our algorithm takes into account varying pricing structures set up by parking tenants. </p>
			<img src="/assets/images/Snapple-3.png" style="width: 100%;">

			<p style="text-align: center;font-style: italic;"> Fig. 4: Add a Carpark to favourites </p>
			<img src="/assets/images/Snapple-4.png" style="width: 100%;">
	</div>
</div>
</div>
</div>
</div>

<div id="modalFive" class="modal">
	<div class="modal-dialog" style="width:100%;height:50%;bottom:150px">

	<div class="modal-content">
		<span class="close">&times;</span>
		<div class="container-project">
			<h2 style="color:black;">East Coast Beach Plan Bot</h2>
			<p style="color:black;"><i> </i></p>
		<div class="project-content">
		<p> <b style="color:black;">East Coast Beach Plan Bot</b> is a chatbot built on Telegram's APIs to coordinate beach cleanups (#eastcoastbeachplan) in Singapore. The product is currently <bold> live <bold/> and can be found <a href="https://t.me/eastcoastbeachplanbot" target="_blank"> here </a>.
			The effort currently has around 2,000 volunteers with 500+ Monthly Active Users on the bot, with Singapore's Members of Parliament: Minister (Sustainability & Environment), Minister (National Development) and Senior Minister of State joining the initiative.
			<br />
				<br />
			East Coast Beach Plan has been featured in multiple news article! <i> Check it out here:</i>
				<br />1. <a href="https://mothership.sg/2020/08/east-coast-beach-cleanup-telegram/"> East Coast Beach Cleanup Telegram</a>
				<br />2. <a href="https://www.straitstimes.com/singapore/environment/beach-cleanup-efforts-boosted-amid-monsoon-season"> Beach cleanup efforts boosted amid monsoon season</a>
				<br />3. <a href="https://www.instagram.com/p/CDnzwYEn6aB/"> Singapore's Ministers join the initiative </a>

					<br />
						<br />
						<img src="/assets/images/Telegram-2.png" style=" display:block;margin:auto;width: 50%;">
						<br />
					<img src="/assets/images/Telegram-3.png" style=" display:block;margin:auto;width: 50%;">
		</p>
	</div>
</div>
</div>
</div>
</div>


</section>
