<!DOCTYPE HTML>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include head.html %}

<body>

    {% include header.html %}

    <!-- Main -->
    <article id="main">
        <header{% if page.image %} style="background-image: url('{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}assets/images/{{ page.image }}{% endif %}');"{% endif %}>
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">

                {{ content }}

            </div>
        </section>
    </article>
    <div class="container-project">
    {% include disqus.html %}
  </div>
    {% include footer.html %}



</body>







</html>
